html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#words {
  margin-left: 30px;
  height: 20px;
  width: 200px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #ddd;
  outline: none;
}
.button {
  background: #ddd;
  height: 44px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}
